<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
<header class="header">
  <div class="header__wrap">
    <div class="brand">{{ site.title }}</div>
    {% include nav.html %}
  </div>
</header>

<main class="main">
  {{ content }}
</main>

<script src="{{ site.baseurl }}/assets/js/filter.js"></script>
</body>
</html>
