<!DOCTYPE html>
<html lang="{{ site.lang | default: 'de' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.browser_title | default: page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <header class="site-header">
      <div class="brand">{{ site.title }}</div>
      {% include nav.html %}
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
